$white: white;

.alert {
  margin: 0;
}

.navbar {
  margin: 0;
}

// Orders section

.box-enter {
  background: orange;
  text-align: center;
}

.box-enter a {
  color: $white;
  text-decoration: none;
}

.bs-glyphicon-list {
  font-size: 18px;
  list-style: none;
  margin: 10px;
}

.glyphicon-class {
  display: block;
}
