<h2>New Order</h2>
<hr>
<%=  form_for([dwl, @order]) do  |f| %>
  <%= render 'form', f: f %>

  <div class="form-group">
    <div>
      <%= f.submit "Create Order", class: "btn btn-primary" %>
      <%= link_to 'Back', dwl.orders_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>

