<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
  <%= stylesheet_link_tag    "dwl/orders/application", media: "all" %>
  <%= javascript_include_tag "dwl/orders/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
