<div class="col-md-12 text-center">
  <div class="btn-group btn-group-lg">
    <%= link_to "Set Attributes to Export", "#", class: "btn btn-success" %>
    <%= link_to "Download CSV", "#", class: "btn btn-default" %>
    <%= link_to "Cancel Selected", "#", class: "btn btn-danger" %>
  </div>
</div>
